#section1{visibility: hidden; position: absolute; top: 40px;}
#section2{visibility: hidden; position: absolute; top: 40px;}
#section3{visibility: hidden; position: absolute; top: 40px;}
#section4{visibility: hidden; position: absolute; top: 40px;}
#footer{position: absolute; top: 500px;}